# environments/dev/terraform.tfvars.example
# Copie este arquivo para terraform.tfvars e preencha com valores reais.
# NUNCA commite o terraform.tfvars de verdade (ele já está no .gitignore).

aws_region   = "us-east-1"
project_name = "technova"
environment  = "dev"

vpc_cidr = "10.0.0.0/16"

subnets = {
  "public-1" = {
    cidr = "10.0.1.0/24"
    az   = "us-east-1a"
    type = "public"
  }
  "public-2" = {
    cidr = "10.0.2.0/24"
    az   = "us-east-1b"
    type = "public"
  }
  "private-1" = {
    cidr = "10.0.3.0/24"
    az   = "us-east-1a"
    type = "private"
  }
  "private-2" = {
    cidr = "10.0.4.0/24"
    az   = "us-east-1b"
    type = "private"
  }
}

ami_id        = ""
instance_type = "t2.micro"
key_name      = "technova-key"

db_name           = "technova_dev"
db_username       = "technova_admin"
db_password       = "TROQUE_ESTA_SENHA"
db_instance_class = "db.t3.micro"